@charset "UTF-8";

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html > body {
  color: #343434;
  font-size: 16px;
  font-weight: 500;
  word-break: keep-all;
  background-color: #212121;
	color: #eaeaea;
}

:root {
	--site-width: 1280px;
  --main-color: #212121;
  --sub-color: #eaeaea;
}

.con {
	max-width: var(--site-width);
}

/* 퀵메뉴 구현 시작 */
.menu-bar {
	position: fixed;
	top: 50%;
	right: 1%;
	transform: translateY(-50%);
  z-index: 999;
	display: none;
}

.s-menu-bar {
	display: block;
}

.menu-bar > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #eaeaea;
	background-color: #343434;
	padding: 0.75rem;
	width: 60px;
	border-radius: 10px;
	box-shadow: 0 10px 50px 0 rbga(#343434, 1);
}

.menu-bar .shopping-bag,
.menu-bar .login {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #eaeaea;
}

.menu-bar a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border-radius: 8px;
	position: relative;
}

.menu-bar a:hover,
.menu-bar a:focus {
	background-color: #eaeaea;
	color: #343434;
} 

.menu-bar a:hover > span,
.menu-bar a:focus > span {
	transform: scale(1);
	opacity: 1;
}

.menu-bar span {
	position: absolute;
	background-color: #343434;
	color: #eaeaea;
	white-space: nowrap;
	padding: 0.5rem 1rem;
	border-radius: 6px;
	right: calc(100% + 1.5rem);
	transform-origin: center left;
	transform: scale(0);
	opacity: 0;
	transition: 0.15s ease;
}

.menu-bar span::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #343434;
	right: -5px;
	top: 50%;
	transform: translatey(-50%) rotate(45deg);
	border-radius: 3px;
}

.menu-bar input {
	background-color: #343434;
	color: #eaeaea;
}

.menu-bar input:focus {
	outline: none;
}
/* 퀵메뉴 구현 끝 */

/* header 구현 시작 */
.top-bar {
	height: 80px;
	box-shadow: 0 2px 6px rgb(0, 0, 0, 0.1);
	padding: 0 40px;
	width: 100%;
  z-index: 999;
	color: #343434;
}

.top-bar .logo svg {
	width: 100%;
}

.m-top-bar {
	position: fixed;
}

.s-top-bar {
	background-color: #212121;
	color: #eaeaea;
}

.s-top-bar .logo svg {
	fill: #eaeaea;
}

.f-top-bar {
	background-color: #eaeaea;
	position: fixed;
  color: #212121;
}

.f-top-bar .logo svg {
	fill: #212121;
}

.top-bar__menu-box > ul > li {
	text-align: center;
	font-size: 18px;
	padding: 0 20px;
}

.top-bar__menu-box > ul > li > a {
	display: block;
	position: relative;
	transition: font-weight 0.3 0s ease;
}

.top-bar__menu-box > ul > li > a:hover {	
	font-weight: 700;
}

.top-bar__menu-box a::after {
	content: attr(title);
  display: block;
  font-weight: 700;
  height: 0px;
  visibility: hidden;
}

.top-bar__menu-box > ul > li > a > span::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background: #212121;
	transition: all 0.6s 0s ease;
}

.s-top-bar .top-bar__menu-box > ul > li > a > span::after {
	background-color: #eaeaea;
}

.top-bar__menu-box > ul > li > a:hover > span::after {
	width: 100%;
}
/* header 구현 끝 */

/* footer 구현 시작 */
.bottom-bar {
	background-image: linear-gradient(to bottom, #eaeaea 80%, #212121 20%);
	height: 540px;
	color: #212121;
}

.bottom-bar__top {
	width: 100%;
	height: 80%;
}

.bottom-bar__top .flex-1 {
	height: 100%;
	width: 100%;
	padding: 20px;
}

.bottom-bar__top .flex-1 .bottom-bar__nav > ul > p {
	font-size: 15px;
	font-weight: 700;
	padding: 10px 0;
}

.bottom-bar__top .flex-1 .bottom-bar__nav > ul > li {
	border-bottom: 1px solid #212121;
	padding: 6px 0;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}

.bottom-bar__bottom {
	width: 100%;
	height: 20%;
	background-color: #212121;
	color: #eaeaea;
}

.bottom-bar__bottom > .tit {
	padding: 20px;
	width: 25%;
	font-weight: 700;
}

.bottom-bar__bottom > .content {
	width: 75%;
	font-size: 12px;
	padding: 20px;
}

.bottom-bar__bottom .content-top > span::after {
	content: "|";
	margin: 0 5px;
}

.bottom-bar__bottom .content-bottom {
	margin-top: 5px;
}

.bottom-bar__bottom .content-bottom > button {
	border-bottom: 1px solid #eaeaea;
}
/* footer 구현 끝 */